/* ==================Hero section============================ */
main {
  color: var(--white);
  padding: 2% 6%;
}
main div.hearo-section-container {
  height: 65vh;
  display: grid;
  grid-template-columns: 65% 35%;
}
main div.hearo-section-container div.trailer-show {
  position: relative;
  margin-right: 4%;
  border-radius: 0.6rem;

  overflow: hidden;
}
main div.hearo-section-container div.trailer-show div.outer-container {
  width: fit-content;
  height: 100%;
  display: grid;
  position: absolute;
  /* grid-template-columns: repeat(20, 95.3%); */
}
div.main-tariler-img {
  width: 54.4vw;
  position: relative;
}
div.main-tariler-img img.main-thamnel {
  aspect-ratio: 2/1;
  width: 100%;
  height: 50vh;
  /* object-fit: cover; */
  z-index: -1;
}
main div.hearo-section-container div.trailer-show div.info {
  display: none;
  width: 100%;
  color: var(--white);
  background-image: var(--trailer-botton-shadow);
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 22% auto;
  padding-bottom: 0%;
  padding-left: 2%;
}
div.thamneal {
  cursor: pointer;
}
main div.hearo-section-container div.trailer-show div.info div.thamneal img {
  border-radius: 0.5rem;
  width: 100%;
}
div.info div.thamneal div.save-icon {
  position: absolute;
  top: 3%;
  left: 3%;
}
main div.hearo-section-container div.trailer-show div.info div.right-box {
  display: grid;
  grid-template-columns: 20% auto;
  padding-top: 14%;
}
div.video-play-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.video-play-icon svg {
  transform: scale(3);
}
div.title-container {
  display: grid;
  margin-top: 12%;
  margin-bottom: 8%;
}
div.info div.right-box h2 {
  font-size: 1.4rem;
}
div.info div.right-box h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.title-container div.tariler-duration-box {
  position: absolute;
  right: 1%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.title-container div.feedback-box {
  display: none;
  justify-content: start;
  gap: 5%;
}
div.title-container div.feedback-box div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  font-size: 0.7rem;
}
div.feedback-box div.sub-title,
div.main-title {
  font-size: 1rem;
}
div.title-container div.feedback-box div svg {
  width: 40%;
}
main div.hearo-section-container div.trailer-arrow-btn {
  position: absolute;
  padding: 2%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000001e;
  backdrop-filter: blur(2px);
  cursor: pointer;
  top: 30%;
}
main div.hearo-section-container div.left {
  left: 0.5%;
}
main div.hearo-section-container div.right {
  right: 0.5%;
}
/* =========================================================================================================== */
main div.upcoming-detail-container {
  height: 65vh;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  color: var(--graytext);
}
.upcoming-detail-container > div.top h1 {
  font-size: 1.2rem;
  color: var(--yellow);
}
main div.next-previwe {
  overflow: hidden;
  background-image: linear-gradient(
    var(--headerBg),
    var(--headerBglight),
    transparent
  );
}
div.next-previwe div.box {
  position: relative;
  height: 100%;
  display: grid;
}
div.next-previwe div.previwe-container {
  display: grid;
  grid-template-columns: 20% auto;
  align-content: center;
  gap: 5%;
  padding: 2%;
}
div.next-previwe div.previwe-container div.thamnel img {
  width: 100%;
  border-radius: 1rem;
}
div.previwe-info {
  display: flex;
  flex-direction: column;
}
div.previwe-info h1 {
  font-size: 01rem;
}
div.previwe-info div.bottom {
  display: flex;
  align-items: center;
}
div.previwe-info div.bottom span {
  font-size: 0.8rem;
}
div.previwe-info div.bottom > div {
  display: flex;
  align-items: center;
  gap: 10%;
}
div.previwe-info div.bottom svg {
  width: 35%;
}
button.browes-trailer {
  background-color: transparent;
  color: var(--white);
  width: 45%;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
button.browes-trailer:hover {
  color: var(--yellow);
}
button.browes-trailer:hover svg {
  fill: var(--yellow);
}
/* =========================================================================================================== */
div.featured-container {
  height: 50vh;
}
div.featured-container > div.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.featured-container > h1 {
  height: 45%;
}
div.featured-container div.slider-container {
  overflow-x: scroll;
  width: 100%;
  height: 100%;
}
div.featured-container div.slider-container div.outer-box {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 3%;
  grid-template-columns: repeat(3, 31%);
}
div.featured-container div.sild-box {
  height: 100%;
  display: grid;
  grid-template-rows: 67% 33%;
  gap: 4%;
}
div.outer-box div.image {
  position: relative;
  width: 100%;
  height: 100%;
}
div.outer-box div.image div.icon {
  position: absolute;
  bottom: 3%;
  left: 2%;
  background-color: #00000065;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.featured-container div.sild-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
div.featured-container div.sild-box div.info {
  padding-left: 2%;
  display: grid;
  grid-template-rows: 60% 30%;
}
div.featured-container div.sild-box div.info h1 {
  font-size: 1.1rem;
  font-weight: normal;
}
div.featured-container div.sild-box div.info a {
  text-decoration: none;
  color: lightblue;
}
div.featured-container div.sild-box div.info a:hover {
  text-decoration: underline;
}
/* =========================================================================================================== */
main div.popular-section-conatiner {
  width: 100%;
  height: 45vh;
  grid-template-rows: 25% auto;
}

main div.popular-section-conatiner div.title {
  display: grid;
  gap: 2%;
}
/* main div.popular-section-conatiner div.title h1 {
  border-left: 5px solid var(--yellow);
  display: flex;
  align-items: center;
  padding-left: 1%;
} */
/* main div.popular-section-conatiner div.title h1 svg {
  fill: var(--yellow);
  height: 50%;
} */
main div.popular-section-conatiner div.title div.option {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--yellow);
  font-size: 0.8rem;
}
div.celebrities-container {
  overflow-x: scroll;
  padding-top: 1%;
  height: 100%;
}
div.celebrities-container div.outer-container {
  width: 100%;
  height: 100%;
  gap: 2%;
  display: grid;
  grid-template-columns: repeat(6, 15%);
}
div.celebrities-container div.celebrities-box {
  height: 100%;
  padding: 1%;
  gap: 4%;
  display: grid;
}
div.celebrities-container div.celebrities-box div.img {
  position: relative;
  overflow: hidden;

  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
}
div.celebrities-container div.celebrities-box img {
  object-fit: cover;
  width: 110%;
  height: 140%;
}
div.celebrities-container div.celebrities-box div.info {
  display: flex;
  flex-direction: column;
  gap: 5%;
}
div.celebrities-box div.rank,
div.celebrities-box div.name {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* =========================================================================================================== */
div.watchlist-section {
  position: relative;
  width: 100%;
  height: 60vh;
}
div.topTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.topTitle div.hadding {
  color: var(--yellow);
}
div.topTitle div.more span {
  color: var(--blue);
  display: flex;
  align-items: center;
}
div.topTitle div.more span svg {
  fill: var(--blue);
}
div.watchlist-container {
  display: grid;
  grid-template-rows: 20% auto;
}
div.watchlist-container div.top {
  display: flex;
  align-items: center;
}
/* div.watchlist-container div.top h1 {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  border-left: 2px solid var(--yellow);
  padding-left: 1%;
  gap: 2%;
}
div.watchlist-container div.top h1 svg {
  transform: scale(1.5);
  fill: var(--yellow); 
}*/
div.watchlist-container div.container {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
div.notlogin {
  display: grid;
  gap: 15%;
}
div.notlogin div,
div.notlogin div.detail * {
  display: grid;
  justify-content: center;
  align-items: center;
}
div.notlogin div.saveicon svg {
  fill: var(--white);
  transform: scale(2);
}
div.notlogin div.detail h3 {
  color: var(--white);
}
div.notlogin div.detail span {
  text-align: center;
  color: var(--graytext);
}

div.notlogin div.btn {
  display: grid;
  justify-content: unset;
}
div.notlogin div.btn button {
  justify-self: unset;
  text-wrap-mode: nowrap;
  color: var(--blue);
  background-color: var(--headerBglight);
  border-radius: 1rem;
  width: 30%;
  margin: auto;
  padding: 2% 1%;
}

/* ====================================================================================================== */
div.top-container {
  position: relative;
  height: 100%;
  /* border: 2px solid yellow; */
}
div.top-container div.top {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.top-container div.container {
  /* border: 2px solid red; */
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  display: grid;
  gap: 3%;
  grid-template-columns: repeat(10, 14%);
}
div.container div.top-box {
  /* border: 2px solid rebeccapurple; */
  display: grid;
  grid-template-rows: 60% auto;
  border-radius: 1rem;
  overflow: hidden;
  filter: drop-shadow(0px 0px 7px #bebaba3c);
}
div.container div.top-box div.image-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
div.container div.top-box div.image-box div.icon {
  position: absolute;
  top: 2%;
  left: 2%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
div.container div.top-box div.image-box img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
div.container div.top-box div.info {
  /* border: 2px solid green; */
  background-color: var(--headerBg);
  display: grid;
  padding: 0 2%;
}
div.container div.top-box div.info div.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10%;
}
div.container div.top-box div.info div.rating div.left {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.container div.top-box div.info div.rating svg {
  transform: scale(0.7);
  fill: var(--yellow);
}
div.container div.top-box div.info div.icon svg {
  fill: var(--blue);
}
div.container div.top-box div.info div.description h4 {
  width: 100%;
  font-size: 0.9rem;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.info div.addbtn,
div.info div.trailerbtn {
  display: flex;
  justify-content: center;
}
div.info button:hover {
  filter: brightness(120%);
}
div.info div.addbtn button,
div.info div.trailerbtn button {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  border-radius: 1rem;
  padding: 1%;
}
div.info div.addbtn button {
  background-color: var(--headerBglight);
}
div.info div.addbtn button svg {
  transform: scale(0.7);
}
div.info div.trailerbtn button {
  background-color: transparent;
}
/* ================================================================================================================== */
div.topRating-section {
  grid-template-rows: 20% auto;
}
div.topRating-section div.top {
  display: grid;
  gap: 2%;
}
div.topRating-section div.top span {
  color: var(--graytext);
  margin-left: 1%;
}
div.topRating-section div.top button {
  margin-left: 1%;
  background-color: transparent;
  text-align: left;
  color: var(--blue);
}
div.topRating-section div.top button:hover {
  text-decoration: underline;
}
/* ================================================================================================================== */
div.popularInterest-section {
  height: 33vh;
  gap: 8%;
}
div.popularInterest {
  /* border: 2px solid; */
  overflow-x: scroll;
  overflow-y: hidden;
  display: grid;
  gap: 2.5%;
  grid-template-columns: repeat(49, 23%);
}
div.popularInterest {
  height: 100%;
}
div.popularInterest div.box {
  background-color: var(--headerBglight);
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 80% 20%;
}
div.popularInterest div.box div.img {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-rows: 60% 40%;
}
div.popularInterest div.box div.img img {
  width: 100%;
}
div.popularInterest div.box h2 {
  margin-left: 2%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 3% 0;
}
