/* ==================Hero section============================ */
main {
  padding: 2% 6%;
}
main div.hearo-section-container {
  height: 65vh;
  display: grid;
  grid-template-columns: 65% 35%;
}
main div.hearo-section-container div.trailer-show {
  position: relative;
  margin-right: 4%;
  border-radius: 0.6rem;
  /* border: 2px solid red; */
  overflow: hidden;
}
main div.hearo-section-container div.trailer-show div.outer-container {
  width: fit-content;
  height: 100%;
  display: grid;
  position: absolute;
  /* grid-template-columns: repeat(20, 95.3%); */
}
div.main-tariler-img {
  width: 54.5vw;
  position: relative;
}
div.main-tariler-img img.main-thamnel {
  aspect-ratio: 2/1;
  width: 54.5vw;
  height: 50vh;
  /* object-fit: cover; */
  z-index: -1;
}
main div.hearo-section-container div.trailer-show div.info {
  display: none;
  width: 100%;
  color: var(--white);
  background-image: var(--trailer-botton-shadow);
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 22% auto;
  padding-bottom: 0%;
  padding-left: 2%;
}
div.thamneal {
  cursor: pointer;
}
main div.hearo-section-container div.trailer-show div.info div.thamneal img {
  border-radius: 0.5rem;
  width: 100%;
}
div.info div.thamneal div.save-icon {
  position: absolute;
  top: 3%;
  left: 3%;
}
main div.hearo-section-container div.trailer-show div.info div.right-box {
  display: grid;
  grid-template-columns: 20% auto;
}
div.video-play-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.video-play-icon svg {
  transform: scale(3);
}
div.title-container {
  display: grid;
  margin-top: 13%;
}
div.info div.right-box h2 {
  font-size: 1.4rem;
}
div.info div.right-box h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.title-container div.tariler-duration-box {
  position: absolute;
  right: 1%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.title-container div.feedback-box {
  display: flex;
  justify-content: start;
  gap: 5%;
}
div.title-container div.feedback-box div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  font-size: 0.7rem;
}
div.feedback-box div.sub-title,
div.main-title {
  font-size: 1rem;
}
div.title-container div.feedback-box div svg {
  width: 40%;
}
main div.hearo-section-container div.trailer-arrow-btn {
  position: absolute;
  padding: 2%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000001e;
  backdrop-filter: blur(2px);
  cursor: pointer;
  top: 30%;
}
main div.hearo-section-container div.left {
  left: 0.5%;
}
main div.hearo-section-container div.right {
  right: 0.5%;
}
/* =========================================================================================================== */
main div.upcoming-detail-container {
  height: 65vh;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  color: var(--graytext);
}
.upcoming-detail-container > div.top h1 {
  font-size: 1.2rem;
  color: var(--yellow);
}
main div.next-previwe {
  overflow: hidden;
  background-image: linear-gradient(
    var(--headerBg),
    var(--headerBglight),
    transparent
  );
}
div.next-previwe div.box {
  position: relative;
  height: 100%;
  display: grid;
}
div.next-previwe div.previwe-container {
  display: grid;
  grid-template-columns: 20% auto;
  align-content: center;
  gap: 5%;
  padding: 2%;
}
div.next-previwe div.previwe-container div.thamnel img {
  width: 100%;
  border-radius: 1rem;
}
div.previwe-info {
  display: flex;
  flex-direction: column;
}
div.previwe-info h1 {
  font-size: 01rem;
}
div.previwe-info div.bottom {
  display: flex;
  align-items: center;
}
div.previwe-info div.bottom span {
  font-size: 0.8rem;
}
div.previwe-info div.bottom > div {
  display: flex;
  align-items: center;
  gap: 10%;
}
div.previwe-info div.bottom svg {
  width: 35%;
}
button.browes-trailer {
  background-color: transparent;
  color: var(--white);
  width: 45%;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
button.browes-trailer:hover {
  color: var(--yellow);
}
button.browes-trailer:hover svg {
  fill: var(--yellow);
}
/* =========================================================================================================== */
div.featured-container {
  height: 50vh;
  color: var(--white);
  display: grid;
  grid-template-rows: 17% auto;
}
div.featured-container > h1 {
  color: var(--yellow);
  display: flex;
  align-items: center;
}
div.featured-container div.slider-container {
  overflow-x: scroll;
  width: 100%;
  height: 100%;
}
div.featured-container div.slider-container div.outer-box {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 3%;
  grid-template-columns: repeat(3, 31%);
}
div.featured-container div.sild-box {
  height: 100%;
  display: grid;
  grid-template-rows: 67% 33%;
  gap: 4%;
}
div.outer-box div.image {
  position: relative;
  width: 100%;
  height: 100%;
}
div.outer-box div.image div.icon {
  position: absolute;
  bottom: 3%;
  left: 2%;
  background-color: #00000065;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.featured-container div.sild-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
div.featured-container div.sild-box div.info {
  padding-left: 2%;
  display: grid;
  grid-template-rows: 60% 30%;
}
div.featured-container div.sild-box div.info h1 {
  font-size: 1.1rem;
  font-weight: normal;
}
div.featured-container div.sild-box div.info a {
  text-decoration: none;
  color: lightblue;
}
div.featured-container div.sild-box div.info a:hover {
  text-decoration: underline;
}
/* =========================================================================================================== */
main div.popular-section-conatiner {
  width: 100%;
  height: 45vh;
  display: grid;
  gap: 2%;
  grid-template-rows: 25% auto;
  color: var(--white);
}

main div.popular-section-conatiner div.title {
  display: grid;
  gap: 2%;
}
main div.popular-section-conatiner div.title h1 {
  border-left: 5px solid var(--yellow);
  display: flex;
  align-items: center;
  padding-left: 1%;
}
main div.popular-section-conatiner div.title h1 svg {
  fill: var(--yellow);
  height: 50%;
}
main div.popular-section-conatiner div.title div.option {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--yellow);
  font-size: 0.8rem;
}
div.celebrities-container {
  overflow-x: scroll;
  padding-top: 1%;
  height: 100%;
}
div.celebrities-container div.outer-container {
  width: 100%;
  height: 100%;
  gap: 2%;
  display: grid;
  grid-template-columns: repeat(6, 15%);
}
div.celebrities-container div.celebrities-box {
  height: 100%;
  padding: 1%;
  gap: 4%;
  display: grid;
}
div.celebrities-container div.celebrities-box img {
  border-radius: 50%;
  width: 100%;
}
div.celebrities-container div.celebrities-box div.info {
  display: flex;
  flex-direction: column;
  gap: 5%;
}
div.celebrities-box div.rank,
div.celebrities-box div.name {
  display: flex;
  justify-content: center;
  align-items: center;
}
